/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: "Fira Code", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app-container {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
}

header {
	height: 50px;
}

main,
article {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow-y: auto;
}

footer {
	height: 50px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
